
.container{
    max-width: 1100px;
    margin:  0 auto;
    margin-top: 100px;
}
.quiz-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
}

.quiz-container .card{
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
    padding: 30px 10px ;
    color: rgb(36, 35, 35);
    background-color:rgb(224 228 228) ;
    display: flex;
    cursor: pointer;
}

.quiz-container .active{
    background-color: #60A5FA

}
/* .quiz-container .card:hover{
    background-color: rgb(140, 143, 143);
} */

.quiz-container .card h4{
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 19px;
}

.quiz-detail{
    margin-top: 100px;
}

.container .quiz-detail p{
   
    font-family: 'Handlee', cursive;
    font-size: 30px;
}

.container .quiz-detail .radio-button {
    display:  flex;
    flex-direction: column;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    gap:10px;
}

.container .button{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: flex-end;
}

.container .button button{
    padding: 2px 80px;
    font-size: 20px;
    font-family: 'Handlee', cursive;
    border: 2px solid rgb(224 228 228);
    border-radius: 20px;
    cursor: pointer;
    background-color:rgb(224 228 228) ;
}

.container .button button:hover{
    background-color: #3B82F6;
}

.container a{
   text-decoration: none;
   color: black;
}




